<a href="https://colab.research.google.com/github/mhasnainr/Cloud-Native/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Class: 14**

**Topics**:

- if else recap
- Functions

**if else recap**

In [12]:
sir_zia_age: int = 53
sir_qasim_age: int = 36

# Option 1: Common style

if sir_zia_age > sir_qasim_age:
    print("Sir Zia is elder")

elif sir_zia_age < sir_qasim_age:
    print("Sir Qasim is elder")

elif sir_zia_age == sir_qasim_age:
    print("Both are of same age")

else:
  print("Invalid input")

Sir Zia is elder

In [10]:
# next cell's code is also not recommended
# but in DS, you'll see this type of code at multiple places

In [11]:
# Option 2: Comprehensive Style

print('True') if sir_zia_age > sir_qasim_age else print('False')

True

**Functions**

- in Python, 'def' is used for making functions

- **syntax: def function_name():**

- () are paranthesis
- : is semi-colon

**Criteria**:

def function_name():
  <!-- Body -->
  print('equal')
  <!-- function calling -->
  function_name()

In [31]:
def compare_age():
  # Body
  print("True") if sir_zia_age > sir_qasim_age else print("False")
  # Body end

# function calling
compare_age()

True

In [23]:
# defining parameter inside function, for taking user's input

def compare_age(student_age: int):
  print("True") if sir_zia_age > student_age else print("False")

compare_age
# answer won't show up b/c of not calling the parameter

In [25]:
def compare_age(student_age: int):
  print("True") if sir_zia_age > student_age else print("False")

compare_age(student_age = 31)

True

In [30]:
def compare_age(student_age: int, name: str):
  print(f"True, {name} is older than Sir Zia") if sir_zia_age < student_age else print("False")

compare_age(student_age = 31, name = 'Hasnain')

False

In [28]:
compare_age(81, 'Asif')

True, Asif is older than Sir Zia

In [29]:
# pre-define functions: like print, len, etc
# user-define functions:

# executing a function requires parameters

In [34]:
# Return function: if [after calling] a value is places inside a variable
# and that value is assigned to it, then this is called return variable/ function

def compare_age(student_age: int, name: str) -> bool:
  result: bool = True if sir_zia_age < student_age else False
  return result

In [33]:
comapring_result = compare_age(81, 'Asif')

In [38]:
# sequence of programming

greet: str = 'Welcome, Sir Zia'
print(greet)

Welcome, Sir Zia

In [36]:
# interpreter: that code is run line by line

greet: str = 'Welcome, Sir Zia'
wdds
print(greet)

NameError: name 'wdds' is not defined

- control flow [of programming]: code is run line by line and it skips a particular code and moves forward
- when using if else, why both [if and else] statements can't run
- using logical operators [<, >, etc] controls the flow

- note: function is not a control flow but building blocks
- block building: specific code is places inside a block
- which can be used multiple times, considered as a module
- module: piece of code which is fit anywhere

- writing a function

- def is used

- funcion_name should be legal [affordable for/ available in programming] not illegal

In [40]:
def greet():
  return 'Hello'

In [41]:
greet()

'Hello'

In [ ]:
# function creation and function running are 2 different things
# writing the above cell's greet, control flow isn't used

In [42]:
# since building block means that it's reusable, so below is an example

output = greet()
print(output)

Hello

In [43]:
# writing the above cell's greet, control flow isn't used

def greet():
  print ('Hello')

In [46]:
greet()
greet()

Hello
Hello

return: termination state

In [58]:
answer = greet()
print('2nd print:',answer)

2nd print: Hello

In [54]:
def greet():
  hello = 'Hello'
  return hello

In [55]:
answer = greet()
print('2nd print:',answer)

2nd print: Hello

In [56]:
# reason for diff in 2nd print's result: return function is placed

Parameters

In [59]:
def greet():
  hello = 'Hello'
  return hello

In [60]:
greet()

'Hello'

In [62]:
# Task: greet whoever comes

def greet(name: str):
  hello = f'Hello {name}'
  return hello

In [69]:
# Passing an Argument

val1= greet('Hasnain')
print(val1)

print(greet('Sir Zia'))
print(greet('Sir Qasim'))

Hello Hasnain
Hello Sir Zia
Hello Sir Qasim

Making an Addition function

In [70]:
def add(x: int, y: int) -> int:
  return x + y

In [73]:
add(3, 2)

5

In [87]:
# note: for loop is also a control flow, which is resusable

Function: Add values of the items bought

In [92]:
def add_items(*nums: int) -> int:

# rest parameter [*nums = Variable Positional Arguments] : set all items in a list
  print(nums)

  return sum(nums)

In [93]:
add_items(321, 553, 643)

(321, 553, 643)

1517

In [95]:
# adding discount

def apply_discount(price: int, discount: float):
  return price - (price * discount / 100)

In [96]:
apply_discount(1517, 10)

1365.3

In [97]:
# in case, by default, discount is 10

def apply_discount(price: int, discount: float = 10):
  return price - (price * discount / 100)

In [100]:
apply_discount(1517)

1365.3

In [101]:
# Total Discounted Price

total_price = add_items(321, 553, 643)
discount_given = 12

apply_discount(total_price, discount_given)

(321, 553, 643)

1334.96

Function: apply discount based on price brackets

- 10,000 <= 10%
- 50,000 <= 30%
- 100,000 <= 50%

In [102]:
# above text is called Doc string

In [108]:
def apply_discount(price: int) -> int:

  # Brainstorming: if discount = 10000, what percentage of discount is applied?

  discount: float = 0
  print('Initial discount', discount)
  if price <= 10000:
    print('Block 1')
    discount = 10
  elif price <= 50000:
    print('Block 2')
    discount = 30
  elif price <= 100000:
    print('Block 3')
    discount = 50
  else:
    print('Not eligible for discount')

  print('Final applicable discount', discount)
  return price - (price * discount / 100)

In [109]:
# Total Discounted Price

total_price = add_items(321, 553, 643)
apply_discount(total_price)

(321, 553, 643)
Initial discount 0
Block 1
Final applicable discount 10

1365.3

Function: integrate tax

In [111]:
def calculate_tax(gross_total: int, tax: float = 17) -> int:
  return gross_total + (gross_total * tax / 100)

In [112]:
calculate_tax(434332)

508168.44

Functions used:

- Total shopping price
- applied discount based on total price
- applied GST

In [113]:
total_price = add_items(321, 553, 643)
print('\nTotal Price', total_price)

gross_total = apply_discount(total_price)
print('\nGross Total', gross_total)

net_total = calculate_tax(gross_total)
print('\nNet Total', net_total)

(321, 553, 643)

Total Price 1517
Initial discount 0
Block 1
Final applicable discount 10

Gross Total 1365.3

Net Total 1597.4009999999998

Checkout function

In [17]:
def add_items(*nums: int) -> int:
  return sum(nums)

# start: additional
# def apply_discount(price: int, discount: float = 10):
#   return price - (price * discount / 100)

# def calculate_tax(gross_total: int, tax: float = 17) -> int:
#   return gross_total + (gross_total * tax / 100)
# end

def checkout(*nums: int) -> int:
  total_price = add_items(*nums)

  gross_total = apply_discount(total_price)

  net_total = calculate_tax(gross_total)
  return net_total

In [18]:
checkout(32232)

33940.296

In [11]:
# resume from: 1.33.30