<a href="https://colab.research.google.com/github/mhasnainr/Cloud-Native/blob/main/lesson_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Topic: Data in Python

In [2]:
# - Strings

In [3]:
print('Hello, World')

Hello, World

In [4]:
print('My favorite drink is Earl Grey tea.')

My favorite drink is Earl Grey tea.

In [5]:
print('\_ツ)_/¯')

\_ツ)_/¯

In [6]:
print('23.4')

23.4

In [11]:
# Multiline Strings
# you have to use triple inverted commas for multiline strings

In [9]:
print("""Welcome
to Lesson 6 of Modern Python """)

Welcome
to Lesson 6 of Modern Python

In [10]:
print('''Welcome
to Cloud Native's class ''')

Welcome
to Cloud Native's class

In [13]:
# type() function
# it checks the type written inside the curly brackets

In [15]:
type('Hello, World')

str

In [16]:
type('23.5')

str

In [17]:
type(32.4)

float

In [18]:
type(433)

int

In [20]:
# Python as a calculator

# Python Operators Precedence Rule - PEMDAS
# P – Parentheses.
# E – Exponentiation.
# M – Multiplication.
# D – Division.
# A – Addition.
# S – Subtraction.

# note: Both PEMDAS & BODMAS, are same

In [21]:
# prompt: print(28+35+43+50+65+70+68+66+75+80+95)
# show every step in comment

# 28 + 35 = 63
# 63 + 43 = 106
# 106 + 50 = 156
# 156 + 65 = 221
# 221 + 70 = 291
# 291 + 68 = 359
# 359 + 66 = 425
# 425 + 75 = 500
# 500 + 80 = 580
# 580 + 95 = 675
print(28+35+43+50+65+70+68+66+75+80+95)

675

In [24]:
# prompt: How do I compute 1.05 to the power of 10 and explain like 5 years old?

# Imagine you have $1 and you get 5% more every year, for 10 years.
# 1.05 is like saying you have 1 whole dollar plus an extra 5 cents.
# 1.05 to the power of 10 means you multiply 1.05 by itself 10 times.

result = 1.05**10
print(result)

1.628894626777442

In [25]:
# Order of operations

In [28]:
# prompt: solve the following using PEMDAS Python along with an explaination:
# print(75 - 32 * 5 / 9)

# Following PEMDAS (Parentheses, Exponents, Multiplication and Division, Addition and Subtraction)
# 1. Multiplication: 32 * 5 = 160
# 2. Division: 160 / 9 = 17.777...
# 3. Subtraction: 75 - 17.777... = 57.222...

print(75 - 32 * 5 / 9) # Output: 57.22222222222223

57.22222222222222

In [27]:
print((75 - 32) * 5 / 9)

23.88888888888889

In [29]:
# Fix the error in the following code
print(There are 366 days in a leap year")

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-29-723ad8b306ac>, line 2)

In [30]:
print("There are 366 days in a leap year")

There are 366 days in a leap year

In [31]:
# Fix the error in the following code
print("There are 366
days in a leap year")

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-31-297ba75dab80>, line 2)

In [32]:
print("""There are 366
days in a leap year""")

There are 366
days in a leap year

In [33]:
# Write code to convert 6 feet to meters
# note: A foot was defined as exactly 0.3048 meters in 1959
print(.3048 * 6)

1.8288000000000002