<a href="https://colab.research.google.com/github/mhasnainr/Cloud-Native/blob/main/lesson_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lesson 3 - Prioritizing tasks with dictionaries and AI**

Topics covered:

- loops
- list
- dictionary
- tuples [ only data type]

diff b/w list array:

- array: only 1 data type can be used
- list: multiple data types can be used

Best Practise:

- use only a single data type, whether it is list, Tuples, dictionary

In [ ]:
# ----->
# index             0   1   2
data: list[str] = ['a', 'b', 'c'] # list

# In Python, indexing can also be in reverse order [ <---- ] -3   -2   -1
data1: tuple[str] = ('x', 'y', 'z') # tuple
data2: set[int] = {1, 2, 4, 1, 3, 2} # set

print(type(data))
print(type(data1))
print(type(data2))


# print(data[0])
# print(data[-3])


# data2: dict[str, str] = {'a': 'a', 'b': 'b', 'c': 'c'} # dictionary

<class 'list'>
<class 'tuple'>
<class 'set'>
a
a

List:

- [] used
- it can update, change, sliced


Tuple:

- () used
- value cannot be changed, but can reassign


Set:

- {} used
- return unique value
- indexing is not applied
- if a value is written multiple times, it will return only once [not repeats]


Dictionary:

-
-

Methods of data type of list [below]

In [ ]:
[i for i in dir(list) if "_" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

pop: value of last or particular index can also be deleted and then then assigned to another variable

Enabling Type hints

- so far no error showed up above, but the below package will identify and show the errors

In [8]:
!pip install -Uq nb-mypy
%load_ext nb_mypy

  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 821.6/821.6 kB 20.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.8/12.8 MB 93.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 58.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.4/85.4 kB 7.8 MB/s eta 0:00:00
  Building wheel for nb-mypy (pyproject.toml) ... done
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires ipython==7.34.0, but you have ipython 8.31.0 which is incompatible.

Version 1.0.5
INFO:nb-mypy:Version 1.0.5

In [13]:
names: list[str] = ['asif', 'baqir', 'dawood']
print(names)

['asif', 'baqir', 'dawood']

In [12]:
# error made below:
# 'True' is a boolean, and installing the package, leads to identificaion of the error

names: list[str] = ['asif', True, 'baqir', 'dawood']
print(names)

<cell>4: error: List item 1 has incompatible type "bool"; expected "str"  [list-item]
ERROR:nb-mypy:<cell>4: error: List item 1 has incompatible type "bool"; expected "str"  [list-item]

['asif', True, 'baqir', 'dawood']

Reason for a need of diff data types:

- list: anyone can make changes in it
- set: can write one thing at multiple times
- tuple: value can't be updated
- dictionary: its usage is mentioned below

Dictionary [with code] :

Problem [with list]
- if a student mixes his name with his father's, then there is no way until he comes up and rectifies himself

Solution [with dic]
- custom key can be assigned to index number in list

In [25]:
from typing import List, Any

#
data: List[Any] = ['asif', 'baqir', 24 ,'Mathematics']

# [], index, value

print(data[0])

asif

In [26]:
# {}, key, value
# key can be of anything as a string
from typing import Dict, Any

data1: Dict[str, Any] = {
    'name': 'asif',
    'father': 'baqir',
    'age': 24,
    'subject': 'Mathematics'
}

print(data1['name'])

asif

In [27]:
# updating names:

data1['name'] = 'Muhammad Asif'
data1

{'name': 'Muhammad Asif',
 'father': 'baqir',
 'age': 24,
 'subject': 'Mathematics'}

In [28]:
# adding another key

data1['gender'] = 'male'
data1

{'name': 'Muhammad Asif',
 'father': 'baqir',
 'age': 24,
 'subject': 'Mathematics',
 'gender': 'male'}

In [20]:
# prompt: create 20 samples students' data with dictionary, then convert into dataframe

import pandas as pd
import random

def generate_student_data(num_students):
    subjects = ['Math', 'Science', 'English', 'History', 'Art']
    student_data = []
    for i in range(num_students):
        student = {
            'student_id': i + 1,
            'name': f'Student_{i+1}',
            'age': random.randint(16, 20),
            'major': random.choice(subjects),
            'gpa': round(random.uniform(2.0, 4.0), 2)
        }
        student_data.append(student)
    return student_data

# Generate 20 sample student records
student_records = generate_student_data(20)

# Convert list of dictionaries to DataFrame
df = pd.DataFrame(student_records)

# Display DataFrame
df

    student_id        name  age    major   gpa
0            1   Student_1   16  English  3.16
1            2   Student_2   16  History  2.24
2            3   Student_3   18  English  2.90
3            4   Student_4   16  English  3.37
4            5   Student_5   17  History  2.33
5            6   Student_6   19  History  3.61
6            7   Student_7   18     Math  3.74
7            8   Student_8   17  English  3.05
8            9   Student_9   18     Math  3.97
9           10  Student_10   18      Art  2.70
10          11  Student_11   18  Science  3.43
11          12  Student_12   17  History  2.05
12          13  Student_13   17     Math  3.62
13          14  Student_14   18  English  3.14
14          15  Student_15   17  Science  3.25
15          16  Student_16   20     Math  2.94
16          17  Student_17   19      Art  3.37
17          18  Student_18   17  Science  3.26
18          19  Student_19   17      Art  3.12
19          20  Student_20   18  History  3.84

In [21]:
# data frame is a package of Panda's Python which converts data into tabular [well-structured] form

In [29]:
!curl -o helper_functions.py https://raw.githubusercontent.com/panaversity/learn-cloud-native-modern-ai-python/main/04_natural_language_programming/02_ai_python_for_beginners/course1_basics/Lesson_9/helper_functions.py

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  3944  100  3944    0     0  18150      0 --:--:-- --:--:-- --:--:-- 18175

In [30]:
from helper_functions import print_llm_response, get_llm_response

In [31]:
ice_cream_flavors: list[str] = [
    "Vanilla: Classic and creamy with a rich, smooth flavor from real vanilla beans.",
    "Chocolate: Deep and indulgent, made with rich cocoa for a satisfying chocolate experience.",
    "Strawberry: Sweet and fruity, bursting with the fresh taste of ripe strawberries.",
    "Mint Chocolate Chip: Refreshing mint ice cream studded with decadent chocolate chips.",
    "Cookie Dough: Vanilla ice cream loaded with chunks of chocolate chip cookie dough.",
    "Salted Caramel: Sweet and salty with a smooth caramel swirl and a hint of sea salt.",
    "Pistachio: Nutty and creamy, featuring the distinct taste of real pistachios.",
    "Cookies and Cream: Vanilla ice cream packed with chunks of chocolate sandwich cookies.",
    "Mango: Tropical and tangy, made with juicy mangoes for a refreshing treat.",
    "Rocky Road: Chocolate ice cream mixed with marshmallows, nuts, and chocolate chunks."
]

In [32]:
# since list is not good for the above task
# so we'll use dictionary

Building intuition and definitions

In [33]:
from typing import Dict

ice_cream_flavors: dict[str, str] = {
    "Mint Chocolate Chip": "Refreshing mint ice cream studded with decadent chocolate chips.",
    "Cookie Dough": "Vanilla ice cream loaded with chunks of chocolate chip cookie dough.",
    "Salted Caramel": "Sweet and salty with a smooth caramel swirl and a hint of sea salt."
}

In [35]:
[i for i in dir(dict) if '_' not in i]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [36]:
print(ice_cream_flavors.keys())

dict_keys(['Mint Chocolate Chip', 'Cookie Dough', 'Salted Caramel'])

In [37]:
print(ice_cream_flavors.values())

dict_values(['Refreshing mint ice cream studded with decadent chocolate chips.', 'Vanilla ice cream loaded with chunks of chocolate chip cookie dough.', 'Sweet and salty with a smooth caramel swirl and a hint of sea salt.'])

In [38]:
ice_cream_flavors.keys?