<a href="https://colab.research.google.com/github/mhasnainr/Cloud-Native/blob/main/lesson_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**L8 : Variables**

In [25]:
# data types: int, str, float, list, bool, dict, set

In [ ]:
# int: whole number
# str: something inside inverted commas
# float: in decimal
# bool: false or true condition

In [32]:
# Since Python is a dynamic language, means they are changeable
# so types should be assigned to variables
# e.g; below

In [37]:
age: int = 32
print(age)
print(type(age))

32
<class 'int'>

In [36]:
age: str = 'edefg'
print(age)
print(type(age))

edefg
<class 'str'>

In [1]:
age = 28
print (age)

28

In [2]:
age = 5
print(age)

5

In [30]:
# Points:

# can't be start with number or signs
_age = 32
print(_age)

5age = 32
print(5age)

%age = 32
print(%age)

SyntaxError: invalid decimal literal (<ipython-input-30-eee8f3e66617>, line 7)

Variables store numbers, strings and other type of data

In [4]:
print(f"Age: {age}")

Age: 5

In [5]:
name = "Otto"
gnome_height = 12.7

print(f"Name: {name}")
print(f"Gnome height: {gnome_height}")

Name: Otto
Gnome height: 12.7

Variables help you store values that constantly change

In [6]:
score = 0 # now score is 0
print(score)

0

In [7]:
score = score + 50 # now score is 0 + 50 which is 50
print(score)

50

In [8]:
score = score + 150 # now score is 0 + 50 which is 50
print(score)

200

In [9]:
print(f"Your final score was: {score}") # prints 200

Your final score was: 200

Variable names restrictions

In [10]:
my score = 450

SyntaxError: invalid syntax (<ipython-input-10-02a80da7e052>, line 1)

In [11]:
my_score = 450
print(my_score)

450

Variables allow you to code efficiently

In [12]:
print(49 / 7)
print(f"Otto's age in dog years is {49 / 7}")

7.0
Otto's age in dog years is 7.0

In [13]:
dog_age = 49 / 7

print(f"""Otto's dog age is {49/7}. So a dog that's about
{49/7} would be the same age as Otto. Any dog born about {49/7}
years ago would be in the same stage of life as Otto.""")

Otto's dog age is 7.0. So a dog that's about
7.0 would be the same age as Otto. Any dog born about 7.0
years ago would be in the same stage of life as Otto.

In [14]:
print(f"""Otto's dog age is {dog_age}. So a dog that's about
{dog_age} would be the same age as Otto. Any dog born about {dog_age}
years ago would be in the same stage of life as Otto.""")

Otto's dog age is 7.0. So a dog that's about
7.0 would be the same age as Otto. Any dog born about 7.0
years ago would be in the same stage of life as Otto.

In [15]:
dog_age = 50/7

print(f"""Otto's dog age is {dog_age}. So a dog that's about
{dog_age} would be the same age as Otto. Any dog born about {dog_age}
years ago would be in the same stage of life as Otto.""")

Otto's dog age is 7.142857142857143. So a dog that's about
7.142857142857143 would be the same age as Otto. Any dog born about 7.142857142857143
years ago would be in the same stage of life as Otto.

In [17]:
print(f"""{name}'s dog age is {dog_age}. So a dog that's about
{dog_age} would be the same age as {name}. Any dog born about {dog_age:.1f}
years ago would be in the same stage of life as {name}.""")

Otto's dog age is 7.142857142857143. So a dog that's about
7.142857142857143 would be the same age as Otto. Any dog born about 7.1
years ago would be in the same stage of life as Otto.

In [18]:
name = "Otto Matic"

print(f"""{name}'s dog age is {dog_age}. So a dog that's about
{dog_age} would be the same age as {name}. Any dog born about {dog_age}
years ago would be in the same stage of life as {name}.""")

Otto Matic's dog age is 7.142857142857143. So a dog that's about
7.142857142857143 would be the same age as Otto Matic. Any dog born about 7.142857142857143
years ago would be in the same stage of life as Otto Matic.

Extra practice

In [22]:
# Create a variable called 'my_name' and assign it the value of your name as a string.
# Then print out a greeting using the variable, like "Hello, Andrew!"
my_name = 'Hasnain'
print('Welcome ' + my_name + '!')
print(f'Greetings {my_name}!')

Welcome Hasnain!
Greetings Hasnain!

In [23]:
# Enter your favorite number below and store it in a variable called 'fav_num'.
# Print out a message telling you what your favorite number plus 10 is.
fav_num = 7
print(f"Your favorite number plus 10 is {10 + fav_num}")

Your favorite number plus 10 is 17

In [24]:
# Create two variables, 'countries_visited' and 'countries_to_visit' and assign them the number of
# countries you've been to and the number of countries you hope to visit. Then complete the print statement.

countries_visited = 0
countries_to_visit = 150


print(f"""I have visited {countries_visited} countries. I plan to visit {countries_to_visit} more countries,
      and when I'm done I will have visited {countries_visited + countries_to_visit} countries.""")

I have visited 0 countries. I plan to visit 150 more countries,
      and when I'm done I will have visited 150 countries.