<a href="https://colab.research.google.com/github/mhasnainr/Cloud-Native/blob/main/lesson_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lesson 7: Displaying text and calculations together**

In [1]:
# float division

In [2]:
print(12 / 4)
print(12 // 4)

3.0
3

Mixing strings with computations or data: f-Strings

In [4]:
print(((75 - 32) * 5 / 9))

23.88888888888889

In [5]:
print("The temperature 75F in degrees Celsius is ((75 - 32) * 5 / 9)C")

The temperature 75F in degrees Celsius is ((75 - 32) * 5 / 9)C

In [6]:
print(f"The temperature 75F in degrees celsius is {(75 - 32) * 5 / 9}C")

The temperature 75F in degrees celsius is 23.88888888888889C

Determining how data is displayed in f-strings

In [7]:
print("Isabel is 28 years old.")

Isabel is 28 years old.

In [8]:
print("Isabel is 28/7 dog years old.")

Isabel is 28/7 dog years old.

In [9]:
print(f"Isabel is {28/7} dog years old.")

Isabel is 4.0 dog years old.

In [10]:
# prompt: print the answer without any characters after the decimal place: print(f"Isabel's dog age is {28/7}.")

print(f"Isabel's dog age is {int(28/7)}.")

Isabel's dog age is 4.

In [11]:
# OR

In [12]:
print(f"Isabel is {28/7:.0f} dog years old.")

Isabel is 4 dog years old.

In [13]:
print(f"Isabel is {28/7:.2f} dog years old.")

Isabel is 4.00 dog years old.

In [14]:
# " :.2f " shows number of decimals required

Multi-line f-strings

In [15]:
print(f"""
    Most countries use the metric system for recipe measurement,
    but American bakers use a different system. For example, they use
    fluid ounces to measure liquids instead of milliliters (ml).

    So you need to convert recipe units to your local measuring system!

    For example, 8 fluid ounces of milk is {8 * 29.5735} ml.
    And 100ml of water is {100 / 29.5735} fluid ounces.
""")

    Most countries use the metric system for recipe measurement,
    but American bakers use a different system. For example, they use
    fluid ounces to measure liquids instead of milliliters (ml).

    So you need to convert recipe units to your local measuring system!

    For example, 8 fluid ounces of milk is 236.588 ml.
    And 100ml of water is 3.381405650328842 fluid ounces.

Extra practice

In [17]:
# Modify the code to print your age
print(f"I am {48/2} years old.")
print(f"I am {48//2} years old.")

I am 24.0 years old.
I am 24 years old.

In [18]:
# Fix this code
print(f"There are {365/7 weeks in a year")

SyntaxError: f-string: expecting '}' (<ipython-input-18-03fef3b3a50b>, line 2)

In [20]:
print(f"There are {365//7} weeks in a year")

There are 52 weeks in a year

In [21]:
# Complete the code
print(f"The area of a square with side 5 cm is {} cm squared.")

SyntaxError: f-string: empty expression not allowed (<ipython-input-21-cdf959e605b8>, line 2)

In [22]:
print(f"The area of a square with side 5 cm is {5 * 5} cm squared.")

The area of a square with side 5 cm is 25 cm squared.

In [23]:
# Modify the code to display one decimal place
print(f"The house was a good size: 1200 square feet, or {1200 * 0.092903} meters squared!")

The house was a good size: 1200 square feet, or 111.4836 meters squared!

In [24]:
print(f"The house was a good size: 1200 square feet, or {1200 * 0.092903:.1f} meters squared!")

The house was a good size: 1200 square feet, or 111.5 meters squared!