<a href="https://colab.research.google.com/github/mhasnainr/Cloud-Native/blob/main/lesson_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**L1: Completing a task list with AI**

In [10]:
!curl -o helper_functions.py https://raw.githubusercontent.com/panaversity/learn-cloud-native-modern-ai-python/main/04_natural_language_programming/02_ai_python_for_beginners/course1_basics/Lesson_9/helper_functions.py

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  3944  100  3944    0     0  19175      0 --:--:-- --:--:-- --:--:-- 19239

In [11]:
from helper_functions import print_llm_response, get_llm_response

What are lists?

- They are somewhat arrays
- e.g; in next cell

Schema:

- Data should be placed in a structure way

In [7]:
name: str = "Abid"

all_students: list = ['Ali', 'Kashif']
print(all_students)
print(len(all_students))

['Ali', 'Kashif']
2

In [12]:
name : str = "Tommy"
prompt = f"""
Write a four line birthday poem for my friend {name}.
The poem should be inspired by the first letter of my friend's name.
"""
print_llm_response(prompt)

Triumphant spirit, bright and bold,
Tommy, a story to be told.
Tenacious heart, a loyal friend,
May joy and laughter never end!

Creating a list

- Index [Position] = [0, 1, 2, 3]
- it can include both strings and integers

Best Practise: one list should include one data type

In [17]:
friends_list: list = ["Tommy", "Isabel", "Daniel"]
print(friends_list)

['Tommy', 'Isabel', 'Daniel']

In [16]:
type(friends_list)

list

In [18]:
len(friends_list)

3

In [15]:
prompt = f"""
Write a set of four line birthday poems for my friends {friends_list}.
The poems should be insipred by the first letter of each friend's name.
"""
print(prompt)
print_llm_response(prompt)

Write a set of four line birthday poems for my friends ['Tommy', 'Isabel', 'Daniel'].
The poems should be insipred by the first letter of each friend's name.

**For Tommy:**

Triumphant spirit, bright and bold,
Optimistic tales you've told.
Many blessings on your day,
May joy light up your path alway.


**For Isabel:**

Imagination, a vibrant hue,
Soaring spirits, strong and true.
Blessings endless, wishes sweet,
A birthday joy, oh so complete!


**For Daniel:**

Dearest friend, a heart of gold,
Adventures brave, a story told.
Noble deeds and kindness shown,
Happy birthday, you're well known!

Accessing individual elements of a list

In [19]:
first_friend = friends_list[0]
print(first_friend)

Tommy

In [20]:
print(friends_list[1])

Isabel

In [21]:
print(friends_list[3]) # Gives an error

IndexError: list index out of range

Adding another element to the list

- .append('')

In [22]:
print(friends_list)

['Tommy', 'Isabel', 'Daniel']

In [23]:
# add single element to list
friends_list.append("Otto")
print(friends_list)

['Tommy', 'Isabel', 'Daniel', 'Otto']

Deleting elements

- .remove('')

In [24]:
#using remove
friends_list.remove("Tommy")
print(friends_list)

['Isabel', 'Daniel', 'Otto']

Lists with other data types

In [38]:
list_ages: int = [42, 28, 30]
print(list_ages)

[42, 28, 30]

In [39]:
#list of tasks in priority order. Multi-line lists are allowed in python!
list_of_tasks: list = [
    "Compose a brief email to my boss explaining that I will be late for tomorrow's meeting.",
    "Write a birthday poem for Otto, celebrating his 28th birthday.",
    "Write a 300-word review of the movie 'The Arrival'."
]

In [29]:
task = list_of_tasks[0]
print_llm_response(task)

Subject: Late to Tomorrow's Meeting

Hi [Boss's name],

This email is to let you know that I will be late to tomorrow's meeting. I expect to arrive by [Time].  I apologize for any inconvenience.

Thanks,

[Your Name]

In [30]:
task = list_of_tasks[1]
print_llm_response(task)

Twenty-eight years have spun their thread,
A tapestry of life you've spread.
With laughter bright and spirit bold,
A story waiting to unfold.

Through sunshine days and stormy nights,
You've conquered fears and shone your lights.
May this new year bring joy untold,
And memories richer than pure gold.

So raise a glass, let music play,
And celebrate this special day.
For Otto dear, we wish you well,
May happiness your life compel.
Happy Birthday, friend so true,
May all your dreams come shining through!

In [31]:
task = list_of_tasks[2]
print_llm_response(task)

Denis Villeneuve's "Arrival" isn't just a science fiction film; it's a profound meditation on time, communication, and the human experience.  The narrative unfolds with a deliberate pace, mirroring the painstaking process of deciphering the alien language and understanding the intentions of the enigmatic Heptapods.  Amy Adams delivers a powerhouse performance as Dr. Louise Banks, a linguist tasked with bridging the communication gap between humanity and these extraterrestrial visitors. Her quiet strength and intellectual curiosity are captivating, allowing the audience to fully invest in her emotional journey.

The film's visual aesthetic is breathtaking.  The design of the Heptapods themselves, their ships, and the overall atmosphere of mystery and awe are meticulously crafted, enhancing the sense of wonder and unease.  The soundtrack, composed by Jóhann Jóhannsson, perfectly complements the visuals, creating a soundscape that is both haunting and beautiful.  It underscores the film's themes of uncertainty and the vastness of the unknown.

"Arrival" cleverly subverts typical alien invasion narratives.  It's less interested in explosions and action sequences and more focused on the intricate process of understanding, the complexities of communication, and the profound impact of choice.  The film’s exploration of language as a shaping force in perception and experience is arguably its most compelling element. The non-linear storytelling, revealed through flashbacks interwoven with the present, adds another layer of complexity, challenging the audience to piece together the puzzle of Louise's life and the aliens' purpose.

While the pacing might feel slow for some viewers, it's crucial to the film's deliberate build-up of suspense and the gradual unveiling of its emotional core.  "Arrival" is not a film that offers easy answers; it's a thought-provoking masterpiece that lingers in the mind long after the credits roll, prompting reflection on the nature of time, communication, and the choices that shape our lives.  It's a film that rewards patience and careful observation, ultimately leaving the viewer with a profound sense of wonder and a lingering question: what if we could truly understand?

Extra practice

In [40]:
# Create a list with the titles
# of five of your favorite movies

### WRITE CODE HERE ###

movie_list: list = ['A', 'B', 'C', 'D', 'E']
print(movie_list)

### --------------- ###

['A', 'B', 'C', 'D', 'E']

In [41]:
# Display the fourth element of
# the following list using print()

prime_numbers: int = [2, 3, 5, 7, 11]

### WRITE CODE HERE ###

print(prime_numbers[3])

### --------------- ###

7

In [34]:
# Fix the bug in the following code

prime_numbers = [2, 3, 5, 7, 11]

### FIX THIS CODE ###
print(prime_numbers(3)) #access and print() the fourth element
### --------------- ###

TypeError: 'list' object is not callable

In [42]:
prime_numbers: int = [2, 3, 5, 7, 11]
print(prime_numbers[3])

7

In [43]:
# Add one name to friends_list using append

friends_list: list = ["Tommy", "Isabel", "Daniel", "Otto"]

### WRITE CODE HERE ###

friends_list.append('Abbot')

### --------------- ###

print(friends_list)

['Tommy', 'Isabel', 'Daniel', 'Otto', 'Abbot']

In [44]:
# In the following code, remove the country
# that is not in South America

countries_in_south_america: list = ["Colombia", "Peru",
                              "Brasil", "Japan",
                              "Argentina"]

### WRITE CODE HERE ###

countries_in_south_america.remove('Japan')

### --------------- ###

print(countries_in_south_america)

['Colombia', 'Peru', 'Brasil', 'Argentina']